* {
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  color: #27aedb;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.navigation-buttom {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px 0;
  color: #fff;
  background-color: #27aedb;
}

.navigation-buttom:hover {
  cursor: pointer;
  background-color: #209cc5;
}

.search {
  width: 100%;
}